<div class="text-container-wide">

    <h2>
        {{project?.title}}
    </h2>

    <p>
        After finishing my MSc. at the <a href="https://blincdev.ca/">BLINC Lab</a>, I stuck around for a few months to add a generic pattern recognition tool to their open-source prosthesis control infrastructure, <a href="https://blincdev.ca/brachIOplexus/overview/">brachI/Oplexus</a>.
        I added a generic interface to facilitate data collection, model design, model training, and output mapping of the model predictions to prosthesis motion.
        You can find the code on my <a href="git@github.com:EricDavidWells/EMG_PatternRec_CS.git">github</a>.
        Check out this overview here showing all of the features.
    </p>

    <div class="video-container">
        <iframe 
            src="https://www.youtube.com/embed/2kaVIX3MbVY" 
            title="brachI/Oplexus Pattern Recognition Overview"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen>
        </iframe>
    </div>
</div>
