<div class="text-container">
    <p>
        Hello! My name is Eric Wells.  I'm a robotics engineer from Canada.
        I've had a ton of fun exploring robotics through autonomous submarines, upper limb prosthetics, and lately to dexterous manipulation of humanoid robots focusing on teleoperation.
        You can download my <a href="assets/resume.pdf">resume</a> here to see more details on my work experience, and please check out my project portfolio.
    </p>

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner" role="listbox">
            <div class="image-container">
                <img src="{{ showSlide(slides, i) }}" alt="slide" >
            </div>
        </div>
      
        <div class="button-container">
            <button class="carousel-button" (click)="getPrev(slides, i)">Prev</button>
            <button class="carousel-button" (click)="getNext(slides, i)">Next</button>
        </div>
    </div>

</div>
