

.header {
    display: flex;
    /* padding-inline: var(--global-small-space); */
    padding-block: var(--global-small-space);
    background-color: var(--color-base);
    color: var(--color-text);
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-header);

    nav {
        margin-left: var(--global-margin);

        span {
            margin-right: var(--global-small-space);

            cursor: pointer;
            &:hover {
                color: var(--color-text-hover)
            }
        }
    }
}