.header {
    display: flex;
    justify-content: flex-start; /* Align left and right sections */
    background-color: var(--color-base);
    color: var(--color-text);
    align-items: center; /* Vertically align items */
    font-size: var(--font-size-header);
    gap: var(--global-small-space); /* Add space between the tags */
}

.left-nav {
    /* margin-left: var(--global-margin); */
}

.left-nav h2 {
    margin-right: var(--global-small-space);
    margin-top: var(--global-small-space);
    margin-bottom: 0;
    cursor: pointer;
}

.left-nav h2:hover {
    color: var(--color-text-hover);
}

.custom-divider {
    border: none; /* Remove the default border */
    height: 2px; /* Set the thickness of the line */
    background-color: var(--color-text); /* Use your custom color variable */
    /* margin: var(--global-small-space) 0; Add vertical spacing if needed */
}