<div class="text-container">
    <h2>
        {{project?.title}}
    </h2>
    <p>
        Blobs is an environment full of blob-like organisms that fight for survival by eating food and each other. 
        The organisms that eat the most and live the longest have a higher chance for their genes to be included in the next blob’s reproduction. 
        Over time, (kind-of) intelligent behaviour will emerge. 
        Feel free to tweak the settings, specifically the fitness function, to obtain various results. 
        I have yet to convince the blobs only to eat blobs of smaller size; they seem to go for an all or nothing strategy of eat everything or run away from everything. 
        Check out the <a href="https://github.com/EricDavidWells/Blobs">code</a> for more details.
    </p>

</div>

<div class="video-container">
    <iframe 
        src="https://www.youtube.com/embed/iCXc_tZkHdk" 
        title="Blobs Neuroevolution Simulation"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
    </iframe>
</div>
