<div class="text-container-wide">
    
    <h2>
        {{project?.title}}
    </h2>

    
    <p>
        I joined <a href="https://www.sanctuary.ai/">Sanctuary AI</a> as a software engineer in 2021 fresh after completing my MSc.
        This was a huge step for me, as my background up to that point was mostly mechanical oriented, with most of my programming / robotics experience being self-driven.
        Shortly afterwards I became the first member of the teleoperation team.  
        Teleoperation has been a great fit for me, as it sits in the center of many different disciplines which suits my generalist skill-set quite well.
        Hardware, software, controls, and networking can all have substantial impact on teleoperation performance. 
        You really have to have perspective on all of these areas to enable high performing teleoperation through dexterous manipulation.

        Here's a link to Sanctuary's <a href="https://www.youtube.com/playlist?list=PL72YzASch66WDlpqCZ_kIaUBBwAPp11NT">Robots Doing Stuff</a> playlist, with over
        50 videos of my team demonstrating some of the awesome humanoid teleoperation of some fairly difficult tasks.  
    </p>

    <h3>
        Some Favorites
    </h3>

    <p>
        Opening a vial
    </p>

    <div class="video-container">
        <iframe 
            src="https://www.youtube.com/embed/qa9TNP6QZXQ" 
            title="Opening a Vial"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen>
        </iframe>
    </div>

    <p>
        Sorting chess objects with our current robot Phoenix.
    </p>

    <div class="video-container">
        <iframe 
            src="https://www.youtube.com/embed/iQ6dicJxUig" 
            title="Phoenix Sorting Objects"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen>
        </iframe>
    </div>

    <p>
        Me losing at rock paper scissors to my friend Chris.  
        I almost got round two thrown out due to a technicalities but after careful review I must admit defeat.
    </p>

    <div class="video-container">
        <iframe 
            src="https://www.youtube.com/embed/R9EwF3GYrp4" 
            title="Rock Paper Scissors"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen>
        </iframe>
    </div>

    <p>
        Here's a fun bloomberg special I got to be a part of.  
    </p>
    <div class="video-container">
        <iframe 
            src="https://www.youtube.com/embed/cjN9ov_2zJs" 
            title="Blobs Neuroevolution Simulation"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen>
        </iframe>
    </div>
</div>
