<div class="text-container-wide">

    <h2>
        {{project?.title}} - 2020
    </h2>

    <p>
    The Advent of Code is a programming challenge consisting of daily puzzles of varying difficulty for the 25 days leading up to Christmas.
    This was the first year I participated, and it has been a wonderful experience.
    Most of the embedded programming I’ve done previously has been in C++; however, I am usually using the Arduino IDE, which abstracts a lot of the complexity away from the programmer.
    I decided to complete the Advent of Code in C++ to improve my “raw” C++ skills and knowledge.
    As a mechanical engineer who works mostly on software, I’ve learned a lot about data structures and algorithms that I hadn’t been previously exposed to.
    Recursion, linked-lists, graph traversal, and dynamic programming, to name a few.
    Between the Advent of Code and reading Bjarne Stroustrup’s “A Tour of C++,” I’ve gotten a lot more confident in my C++ abilities.
    My solutions are available on my <a href="https://github.com/EricDavidWells/AOC_2020">github</a>.
    </p>

    <h2>
        {{project?.title}} - 2021
    </h2>

    <p>
        I took another try in rust since the programming community convinced me it was the future.  
        Since it's so strict, I find I spend a lot more time with the compiler, but a lot less time debugging
        I'm on day 22, not positive I'm going to finish this year.
        My solutions are available on my <a href="https://github.com/EricDavidWells/AOC_2021">github</a>.
    </p>

</div>