.project-div
{
    display: flex;
    align-items: center;        /* Vertically center text and image */
    justify-content: left; /* Push text to the left, image to the right */
    text-decoration: none;     /* Remove link styles if needed */
    margin-left: var(--global-margin);
    /* padding: 10px;             /* Optional spacing */
    cursor: pointer;
            &:hover {
                color: var(--color-text-hover)
            }
}

.project-image img {
    width: 130px;
    height: auto;
    margin-right: var(--global-margin);
    margin-left: 0px;
  }

  ul {
    list-style-type: none;
    padding: 0; /* Optional: remove default padding */
    margin: 0;  /* Optional: remove default margin */
}
